@charset "utf-8";


.gnb_sub_wrap {
    display: block;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    background-color: #2c2a29;
    overflow: hidden;
}
/*-- 메뉴 6개 --*/
.ul2 {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}  
.ul2 a {
    font-size: 13px;
    font-weight: lighter;
}
/* nav01,02,03,04,05,06 */
.ul2 li:hover {
    background-color: #2c2a29;

}

/* 메인 메뉴 타이틀 */
.drop_btn {
    padding: 10px;
    padding-bottom: 24px;
}


/*-- 메뉴 안에 리스트 --*/
.sec_nav ul li a {
    padding-bottom: 26px;
    padding: 5px 15px 26px 15px;
}
.sec_nav ul li ul {
    display: none;
    padding-right: 115px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.sec_nav ul li ul li {
    width: 180px;
    margin: auto;
    padding-top: 3px;
}
.gnb_sub_wrap {
    width: 100%;
    margin: auto;
}
.gnb_sub {
    width: 1100px;
    margin: auto;
}
/*메뉴 리스트 타이틀*/
.gnb_sub_ttl:first-child {
    font-weight: bold;
}
/* 리스트 폰트 색상 크기 위치 */
.gnb_sub_inner .gnb_sub_ttl a {
    font-weight: bold;
    font-size: 14px;
    color: white;
}
.gnb_sub_inner {
    display: flex;
}
.gnb_sub_inner a {
    color: gray;
    font-weight: bold;
}


/***** 안보이게 *******/

.sec_nav ul li p {
    display: none;
}
.sec_nav ul li h3 {
    display: none;
}
.sec_nav ul li:hover ul {
    display: block;
    width: 100px;
}
.gnb_sub_txbg {
    display: block;
}


/**** HOVER *****/

.sec_nav ul li a:hover {
    text-decoration: underline;
}
/* 메인 메뉴 타이틀 박스 hover */
.drop_btn:hover {
    text-decoration: underline;
}
.drop_btn a:hover {
    color: rgb(9, 160, 9);
}




/* 프로모션 구역 *****************/
#promotion {
    width: 100%;
    background-color: #f6f5ef;
}
.slidergroup {
    width: 800px;
    margin: auto;
    padding: 30px 0px;
}
.slider01 img {
    width: 800px;
}
.slider01 a {
    margin-top: 20px;
    padding: 7px 0px;
    margin-left: 360px;
    padding-left: 12px;
    margin-right: 340px;
    border-radius: 5px;
    border: 2px solid #2c2a29;
}


.slidergroup { 
    position: relative; 
    transform: translate(100);
    overflow: hidden;
}
.slidergroup a {
    display: block;
    position: relative;
}
/* 슬라이드 버튼  */
.slidergroup button { 
    position: absolute; 
    margin: 20px;
    z-index: 10; 
    top: 50%; 
    transform: 
    translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:transparent;
    border: 2px solid rgb(32, 30, 30);
    cursor: pointer;
}
.slidergroup button::before {
    font-family: 'xeicon';
    color: rgb(2, 2, 2);
    font-size: 30px;
} 
.slidergroup button.slick-prev {
    left:0;
    font-size: 0;
    color: transparent;
}
.slidergroup button.slick-prev::before {
    content: "\e93d";
    font-family: 'xeicon';
}
.slidergroup button.slick-next {
    right:0;
    font-size: 0;
    color: transparent;
}
.slidergroup button.slick-next::before {
    content: "\e940";
    font-family: 'xeicon';
}

/* 자세히보기 버튼 hover */
.slider01 a:hover {
    text-decoration: underline;
    font-weight: bold;
}